# PostgreSQL Configuration

[client]
port                    = 5432
default-character-set   = utf8mb4

[postgres]
user                    = postgres
port                    = 5432
listen_addresses        = '*'
max_connections          = 100
shared_buffers           = 128MB
dynamic_shared_memory_type = posix
max_wal_size             = 1GB
min_wal_size             = 80MB
log_timezone             = 'Asia/Shanghai'
datestyle                = 'iso, mdy'
timezone                 = 'Asia/Shanghai'
lc_messages              = 'en_US.UTF-8'
lc_monetary             = 'en_US.UTF-8'
lc_numeric              = 'en_US.UTF-8'
lc_time                  = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'

log_destination          = 'stderr'
logging_collector        = on
log_directory            = '/var/log/postgres'
log_filename             = 'postgres.log'
log_rotation_age         = 1d
log_rotation_size        = 100MB
log_line_prefix          = '%m [%p] %q%u@%d '
log_timezone             = 'Asia/Shanghai'

slow_query_log           = on
slow_query_log_file      = /var/log/postgres/postgres.slow.log
slow_query_log_threshold = 3s

log_lock_waits           = on
log_statement            = 'all'
log_duration             = off

[postgres]
default-character-set   = utf8mb4
